#bg{
    position: fixed; 
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}
#dashboard{
    text-align: center;
     margin-top: 20px;
      font-size: 100px;
} #jokeOfTheDay{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    position: absolute;
    width: 535px;
    height: 364px;
    left: 86px;
    top: 277px;
    background: rgba(220, 237, 194, 0.55);
    

}#skills{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    position: absolute;
    width: 488px;
    height: 152px;
    left: 651px;
    top: 277px;
    background: rgba(220, 237, 194, 0.55);
    height: 364px;

}#jokes{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 30px;
    

}#jokeAnswers{
    text-align: center;
    font-size: 20px;
    position: absolute;
    width: 440px;
    height: 102px;
    left: 91px;
    top: 413px;

    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
color: #000000;

}

nav{
    background-color:#FF8C94;
}


#skillpic1{
    position: absolute;
    width: 101px;
    height: 101px;
    left: 700px;
    top: 424px;
    
    border-radius: 50%;
}

#skillpic2{
    position: absolute;
    width: 101px;
    height: 101px;
    left: 850px;
    top: 424px;
    
    border-radius: 50%;
}

#skillpic3{
    position: absolute;
    width: 101px;
    height: 101px;
    left: 1000px;
    top: 424px;
    
    border-radius: 50%;
}

/* #progressbar1{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 700px;
    top: 409px;

    background: #A8E6CE;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
/* #progress1{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 700px;
    top: 409px;
    border-radius: 50%;
    
    background: #C4C4C4;
} */



/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h3{
    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 72px;

    color: #DCEDC2;

    border: 5px solid #000000;
    text-shadow: -1px 1px 0 #000, 
    1px 1px 0 #000, 
   1px -1px 0 #000,
  -1px -1px 0 #000; 
}
}