#bg{
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}
#covidWellness{
    text-align: center;
    margin-top: 20px;
   font-size: 150px;
   padding-top: 15%;
} #about{
    font-family:Sansation;
    text-align: center;
   font-size: 25px;
   padding-top: 2%;
   padding-left: 15%;
   padding-right: 15%;
    color: aliceblue;
}
.signup{
    position:relative;
    font-family:Sansation;
    text-align: center;
    font-size: 50px;
    background-color: #A8E6CE;
    border-color: #A8E6CE;
    border: 5px 5px 5px 5px;
    top: 10px;
}

