#bg{
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
} .skill{
    display: table;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
} 
.btn-group{
    padding-left: 10px;
    display: table-cell;

} #icons{
    padding-left: 5%;
    width: 75px;
    height: 75px;
}