#bg{
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
} .skill{
    text-align: center;
    display: table;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;

} 
.btn-group{
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
    display: table-cell;

} #icons{
    margin:auto;
    padding-left: 10px;
    width: 75px;
    height: 75px;
}/*.btn{
    background-color: "#A8E6CE" !important;
}*/